<div>
    <a routerLink="add"
       routerLinkActive="active">新規登録</a>
</div>
<h3>モンスター管理</h3>
<div class="grid">
    <ul class="listbox">
        <li class="list">
            <div class="cell-m sort-left">番号</div>            
            <div class="cell-name sort-left">名前</div>
            <div class="cell-s sort-left">主属性</div>
            <div class="cell-s sort-left">副属性</div>
            <div class="cell-s sort-left">レア</div>
            <div class="cell-s sort-left">コスト</div>
            <div class="cell-s sort-left">ﾀｲﾌﾟ１</div>
            <div class="cell-s sort-left">ﾀｲﾌﾟ２</div>
            <div class="cell-s sort-left">ﾀｲﾌﾟ３</div>
            <div class="cell-m sort-left">HP</div>
            <div class="cell-m sort-left">攻撃</div>
            <div class="cell-m sort-left">回復</div>
            <div class="cell-l sort-left">スキル</div>
            <div class="cell-l sort-left">リーダースキル</div>
            <div class="cell-l sort-left">覚醒</div>
            <div class="cell-l sort-left">進化</div>
        </li>
    </ul>
        
    <ul class="listbox">
        <li *ngFor="let monster of monsters | slice: start: start+len" class="list">
            <div class="cell-m sort-left">
                {{monster.id}}
            </div>            
            <div class="cell-name sort-left">
                <a  [routerLink]="['detail', monster.id]">
                    {{monster.Name}}
                </a>
            </div>
            <div class="cell-s sort-left">
                {{monster.Attribute}}
            </div>
            <div class="cell-s sort-left">
                {{monster.SubAttribute}}
            </div>
            <div class="cell-s sort-left">
                {{monster.Rarity}}
            </div>
            <div class="cell-s sort-left">
                {{monster.Cost}}
            </div>
            <div class="cell-s sort-left">
                {{monster.Type}}
            </div>
            <div class="cell-s sort-left">
                {{monster.SubType}}
            </div>
            <div class="cell-s sort-left">
                {{monster.ThirdType}}
            </div>
            <div class="cell-m sort-left">
                {{monster.HP}}
            </div>
            <div class="cell-m sort-left">
                {{monster.Attack}}
            </div>
            <div class="cell-m sort-left">
                {{monster.Cure}}
            </div>
            <div class="cell-l sort-left">
                {{monster.Skill}}
            </div>
            <div class="cell-l sort-left">
                {{monster.Reader}}
            </div>
            <div class="cell-l sort-left">
                {{monster.Arousal}}
            </div>
            <div class="cell-l sort-left">
                {{monster.Evolution}}
            </div>
        </li>
    </ul>
    <ul class="pageing">
        <ng-container *ngFor="let m of counts; index as i">
        <li (click)="pager(i)">{{i + 1}}</li>
        </ng-container>
    </ul>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>
