<div class="side-form-ch">
    <div>
        <div class="board-s">
            <ul class="icon-list">
                <li *ngFor="let setArousal of setArousals; index as i">
                    <div class="a{{setArousal}}"></div>
                    <div (click)='delArousal(i)'>☓</div>
                </li>
            </ul>
        </div>

        <ul class="select-list-s">
            <li *ngFor="let arousal of arousals; index as i">
                <div class="a{{i}}" (click)='addArousal(arousal.id)'>
                </div>
            </li>
        </ul>
    </div>
</div>