<div class="side-form-ch">
    <ul class="select-list-m">
        <li *ngFor="let attribute of attributes">
            <div (click)='selectType(attribute.id)'>
                {{attribute.Name}}
            </div>
        </li>
    </ul>
</div>