<div class="side-form-ch">
    <div class="clock-select-time">
        <div (click)="onSwitch()" class="clock-select-hour">{{[setHour]}}：時</div>
        <div (click)="onSwitch()" class="clock-select-minitu">{{[setMinits]}}：分</div>
    </div>
    <svg class="clock-base" *ngIf="_showHour">
        <circle [style.cx]="_cx" [style.cy]="_cy" [style.r]="_amR" [style.stroke-width]="_strokeWidth" class="clock" id="am-circle"/>
        <circle [style.cx]="_cx" [style.cy]="_cy" [style.r]="_pmR" [style.stroke-width]="_strokeWidth"class="clock" id="pm-circle"/>
        <ng-container *ngFor="let am of amTimesPosition; index as i">
            <text 
                [attr.x]="am[1]"
                [attr.y]="am[2]"
                [attr.dx]="_cx"
                [attr.dy]="_textCy"
                class="clock-time">{{am[0]}}</text>
            <path 
                [attr.d]="amTimesPath[i]" 
                [attr.fill]='enterCellColor[am[0]]'
                (mouseenter)="onMouseenterHandler(am[0],'hour')"
                (mouseleave)="onMouseleaveHandler(am[0],'hour')"
                (mousedown)="onMousedownHandler(am[0],'hour')"
                (mouseup)="onMouseupHandler(am[0],'hour')">
            </path>
        </ng-container>
        <ng-container *ngFor="let pm of pmTimesPosition; index as j">
            <text
                [attr.x]="pm[1]"
                [attr.y]="pm[2]"
                [attr.dx]="_cx"
                [attr.dy]="_textCy"
                class="clock-time">{{pm[0]}}</text>
            <path 
                [attr.d]="pmTimesPath[j]" 
                [attr.fill]='enterCellColor[pm[0]]'
                (mouseenter)="onMouseenterHandler(pm[0],'hour')"
                (mouseleave)="onMouseleaveHandler(pm[0],'hour')"
                (mousedown)="onMousedownHandler(pm[0],'hour')"
                (mouseup)="onMouseupHandler(pm[0],'hour')">
            </path>
        </ng-container>
    </svg>
    <svg class="minits-base" *ngIf="_showMinits">
        <circle [style.cx]="_cx" [style.cy]="_cy" [style.r]="_minitsR" [style.stroke-width]="_strokeWidth" class="clock" id="minits-circle"/>
        <ng-container *ngFor="let min of minitsPosition; index as i">
            <text 
                [attr.x]="min[1]"
                [attr.y]="min[2]"
                [attr.dx]="_cx"
                [attr.dy]="_textCy"
                class="clock-time">{{min[0]}}</text>
            <path 
                [attr.d]="minitsPath[i]" 
                [attr.fill]='enterMinCellColor[min[0]]'
                (mouseenter)="onMouseenterHandler(min[0],'min')"
                (mouseleave)="onMouseleaveHandler(min[0],'min')"
                (mousedown)="onMousedownHandler(min[0],'min')"
                (mouseup)="onMouseupHandler(min[0],'min')">
            </path>
            </ng-container>
        </svg>
</div>
