ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.board-s {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
}
.icon-list > li {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
}

[class *= 'select-list-'] > li{
    text-align: center;
    font-size: 0.9em;
    position: relative;
    float: left;
    border-bottom: solid 1px #8BD2FE;
    border-radius: 5px;
    margin: 5px 0.5em;    
}
ul.select-list-s > li {
    width: 35px;
}

ul.select-list-m > li {
    width: 100px;
}
ul.select-list-l > li {
    width: 200px;
}

li:hover {
    background-color: #CDF2F6;
}

li > div {
    cursor: pointer;
}

.selected {
    background: #C0FFD1;
    box-shadow: -2px -2px 4px #C6C6C6
}



.t1,.t2,.t3,.t4,.t5,.t6,.t7,.t8,.t9,.t10,.t11{
    width:31px;height:32px;float:left;
    background: url("") no-repeat;
}
.t1{background-position:0 -0px;}
.t2{background-position:0 -32px;}
.t3{background-position:0 -64px;}
.t4{background-position:0 -96px;}
.t5{background-position:0 -128px;}
.t6{background-position:0 -160px;}
.t7{background-position:0 -192px;}
.t8{background-position:0 -224px;}
.t9{background-position:0 -256px;}
.t10{background-position:0 -288px;}
.t11{background-position:0 -320px;}
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10,.a11,.a12,.a13,
.a14,.a15,.a16,.a17,.a18,.a19,.a20,.a21,.a22,.a23,.a24,
.a25,.a26,.a27,.a28,.a29,.a30,.a31,.a32,.a33,.a34,.a35,
.a36,.a37,.a38,.a39,.a40,.a41,.a42,.a43,.a44,.a45{
    width:31px;height:32px;float:left;
    /*background: url("assets/img/awaken.png") no-repeat;*/
    background: url("http://happypazdra.dip.jp/img/awaken.png") no-repeat;
}
.a1{background-position:0 -0px;}
.a2{background-position:0 -32px;}
.a3{background-position:0 -64px;}
.a4{background-position:0 -96px;}
.a5{background-position:0 -128px;}
.a6{background-position:0 -160px;}
.a7{background-position:0 -192px;}
.a8{background-position:0 -224px;}
.a9{background-position:0 -256px;}
.a10{background-position:0 -288px;}
.a11{background-position:0 -320px;}
.a12{background-position:0 -352px;}
.a13{background-position:0 -384px;}
.a14{background-position:0 -416px;}
.a15{background-position:0 -448px;}
.a16{background-position:0 -480px;}
.a17{background-position:0 -512px;}
.a18{background-position:0 -544px;}
.a19{background-position:0 -576px;}
.a20{background-position:0 -608px;}
.a21{background-position:0 -640px;}
.a22{background-position:0 -672px;}
.a23{background-position:0 -704px;}
.a24{background-position:0 -736px;}
.a25{background-position:0 -768px;}
.a26{background-position:0 -800px;}
.a27{background-position:0 -832px;}
.a28{background-position:0 -864px;}
.a29{background-position:0 -864px;}
.a30{background-position:0 -928px;}
.a31{background-position:0 -960px;}
.a32{background-position:0 -992px;}
.a33{background-position:0 -1024px;}
.a34{background-position:0 -1056px;}
.a35{background-position:0 -1088px;}
.a36{background-position:0 -1120px;}
.a37{background-position:0 -1152px;}
.a38{background-position:0 -1184px;}
.a39{background-position:0 -1216px;}
.a40{background-position:0 -1248px;}
.a41{background-position:0 -1280px;}
.a42{background-position:0 -1312px;}
.a43{background-position:0 -1344px;}
.a44{background-position:0 -1376px;}
.a45{background-position:0 -1408px;}