<div class="side-form-ch">
    <ul class="select-list-m">
        <li *ngFor="let mtype of mtypes">
            <div (click)='selectType(mtype.id)'>
                {{mtype.Name}}
            </div>
        </li>
    </ul>
</div>