<div class="button-m click float-l" routerLink="add" routerLinkActive="active">
    新規登録
</div>

<div class="float-l title-m">
    覚醒スキル管理
</div>
<div class="grid float-l">
    <ul class="listbox">
        <li *ngFor="let group of groups" class="list">
            <div class="cell-s sort-left">
                {{group.id}}
            </div>
            <div class="cell-name sort-left">
                <a  [routerLink]="['detail', group.id]">
                    {{group.Name}}
                </a>
            </div>
            <div class="cell-s sort-left">
                {{group.icon}}
            </div>
            <div class="cell-l sort-left">
                {{group.Name}}
            </div>
            <div class="cell-s sort-left">
                {{group.Type}}
            </div>
            <div class="cell-s sort-left">
                {{group.Program}}
            </div>
            <div class="cell-xl sort-left">
                {{group.Propatie}}
            </div>
            <div class="cell-xl sort-left">
                {{group.Description}}
            </div>
        </li>
    </ul>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>

