<div class="grid">
    
    <div class="container">
        <div class="cargo click" routerLink="user" routerLinkActive="active">
            <div class="label-s"><h3>ユーザー管理</h3></div>
        </div>
        <div class="cargo click" routerLink="group" routerLinkActive="active">
            <div class="label-s"><h3>グループ管理</h3></div>
        </div>
    </div>

    <div class="block-s">
        <div class="label-s float-l">テスト</div>
        <div (click)="showClock($event)" class="float-l button-s">選択</div>
        <input type="text" [(ngModel)]="selectTime">
    </div>
    <div class="sub-window-m"
        [@slideStatus]="subWindow"
        [class.subShow]="subFlag"
        [style.top]="subTop"
        [style.left]="subLeft">
    <ng-container *ngComponentOutlet="clockComponent"></ng-container>
    </div>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>