<div class="side-form">
    <div class="float-l title-m">
        ユーザー管理
    </div>
    <div class="grid float-l">
        <ul class="listbox">
            <li class="list">
                <div class="cell-s sort-left">番号</div>
                <div class="cell-name sort-left">名前</div>
                <div class="cell-l sort-left">ログインID</div>
                <div class="cell-l sort-left">グループ</div>
                <div class="cell-l sort-left">権限レベル</div>
                <div class="cell-l sort-left">登録日</div>
                <div class="cell-l sort-left">更新日</div>
                <div class="cell-l sort-left">有効期限</div>
            </li>
            <li *ngFor="let user of users" class="list">
                <div class="cell-s sort-left">
                    {{user.id}}
                </div>
                <div class="cell-name sort-left">
                    <a (click)="showDetail(user.id)">
                        {{user.Name}}
                    </a>
                </div>
                <div class="cell-l sort-left">
                    {{user.Username}}
                </div>
                <div class="cell-l sort-left">
                    {{user.Group}}
                </div>
                <div class="cell-l sort-left">
                    {{user.Level}}
                </div>
                <div class="cell-l sort-left">
                    {{user.Create}}
                </div>
                <div class="cell-l sort-left">
                    {{user.Update}}
                </div>
                <div class="cell-l sort-left">
                    {{user.Validity}}
                </div>
            </li>
        </ul>
    </div>
    <div class="sub-window-m"
        [@slideStatus]="subWindow"
        [class.subShow]="subFlag"
        [style.top]="subTop"
        [style.left]="subLeft">
    <ng-container *ngComponentOutlet="subComponent"></ng-container>
</div>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>

