/*---------------------------------
-----------------------------------
    パーティー構成
-----------------------------------
---------------------------------*/

div.monster-list{
    position: relative;
    float: left;
    width: 100%;
    height: 485px;
}


div.monster-list > div{
    position: relative;
    float: left;
    width: 150px;
    height: 480px;

    box-shadow: 1px 1px 0px rgba(100,100,100,0.4);
}
div.monster-type{
    height: 25px;

}
div.monster-type > div{
    color: rgba(80,80,80,1);
    text-align: center;
    position: relative;
    float: left;
    width: 49%;
    height: 18px;
    background-color: rgba(250,200,150,0.4);
}
div.monster-type > div:LAST-CHILD{
    border-left: solid 3px rgba(100,100,100,0.2);
    background-color: rgba(200,250,150,0.4);
}

div.monster-number{
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 25px;
    background-color: rgba(250,250,150,0.4);
}

div.monster-name{
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 55px;
}

div.monster-img{
    width: 70px;
    height: 45px;

    margin: 5px 25px;
    padding: 0px 15px;

    background-color: rgba(100,100,100,0.1);
    border-radius: 10px;
    cursor: pointer;

}

div.monster-img:HOVER{
    box-shadow: 0px 0px 10px rgba(10,10,10,1);
}

div.monster-hp,
div.monster-atack,
div.monster-atack-sub,
div.monster-cure{
    width: 100%;
    height: 22px;
}

div.monster-hp p,
div.monster-atack p,
div.monster-atack-sub p,
div.monster-cure p{
    position: relative;
    float: left;
}
div.monster-hp p:FIRST-CHILD,
div.monster-atack p:FIRST-CHILD,
div.monster-atack-sub p:FIRST-CHILD,
div.monster-cure p:FIRST-CHILD{
    font-size:0.8em;
    text-align: center;
    width: 32px;
    padding-top: 5px;
}
div.monster-hp p:LAST-CHILD,
div.monster-atack p:LAST-CHILD,
div.monster-atack-sub p:LAST-CHILD,
div.monster-cure p:LAST-CHILD{
    font-size: 0.9em;
    width:30px;
    height: 100%;
    background-color: rgba(150,150,150,0.2);
    cursor: pointer;
}

div.monster-skill p:FIRST-CHILD,
div.monster-reader p:FIRST-CHILD{
    background-color: rgba(100,100,100,0.2);
}
/*---------------------------------
-----------------------------------
    計算結果
-----------------------------------
---------------------------------*/


div.party-status{
    position: relative;
    float: left;
    width: 100%;
    height: 345px;
}

div.party-status > div{
    position: relative;
    float: left;
    width: 47%;
    height: 98%;

    margin: 0 0.5%;
    border: solid 5px rgba(100,100,100,0.2);
}

/*   トータルステータス表示   */

div.partie-st-tab{
    width: 100%;
    height: 25px;

    box-shadow: 0px 3px 0px rgba(100,100,100,0.2);
}
div.partie-st-tab > p{
    text-align:center;

    position: relative;
    float: left;
    height: 20px;
    padding-top: 5px;
    margin: 0;
}
div.party-st-view > div > p:nth-child(odd){
    width: 150px;
    box-shadow: 3px 0px 0px rgba(50,50,50,0.4);
}

div.party-st-view > div > p:nth-child(even){
    width: 250px;
    box-shadow: 3px 0px 0px rgba(50,50,50,0.4);

}

/*   覚醒表示表示   */

div.partie-arousal-list > p{
    width: 450px;
}
div.partie-arousal-list > p:FIRST-CHILD{
    text-align: center;
    height: 20px;
    padding-top: 5px;
}

ul.partie-arousal{
    list-style: none;
    width: 420px;
    height: 112px;
}
ul.partie-arousal li{
    position: relative;
    float: left;
    width: 66px;
    height: 20px;
    border: solid 1px rgba(50,50,50,0.1);
}

ul.partie-arousal li p{
    position: relative;
    float: left;
    left: -8px;
    width: 16px;
    height: 20px;

    padding: 3px 0px 0px 0px;
    margin: 0px;

}
ul.partie-arousal li p:nth-child(even){
    font-size: 0.8em;
    padding: 6px 0px 0px 0px;
}
ul.partie-arousal li p:FIRST-CHILD{
    transform: scale(0.6,0.6);
       top: -5px;
    left: -5px;
    width: 31px;
    height: 32px;

}

/*   コンボダメージ表示   */

ul.combo-list-view{
    list-style: none;
    height: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul.combo-list-view li{
    position: relative;
    float: left;
    width: 100%;
    box-shadow: 1px 1px 0px rgba(250,150,100,0.5);
}

ul.combo-list-view li >p{
    text-align:center;

    position: relative;
    float: left;

    margin: 1px;
    border: solid 1px rgba(50,50,50,0.6);
    border-radius: 3px;
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);

}

p.combo-c{
    width: 20px;
}
p.combo-d{
    width: 100px;
}
p.combo-2{
    width: 80px;
}
p.combo-l{
    width: 80px;
}
p.combo-s{
    width: 80px;
}



/*ダメージ*/

div.party-last-status{
        position: relative;
    float: left;
    width: 100%;
    height: 250px;
}

div.party-last-status > div{
    position: relative;
    float: left;
    width: 47%;
    height: 98%;

    margin: 0 0.5%;
    border: solid 5px rgba(100,100,100,0.2);
}




/*----------------------------------



----------------------------------*/

div.partie-final-status{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 900px;
    height: 500px;

    background-color: rgba(200,200,200,0.9);
    box-shadow: 2px 2px 10px rgba(150,150,150,0.8);
}
div.partie-final-status > div{
    position: relative;
    float: left;
}

div#pfs-drag{
    width: 100%;
    height: 30px;
    background-color: rgba(150,150,150,1);

    cursor: move;
}
div#pfs-drag > p{
    text-align: center;
    color:rgba(250,180,100,1);

    width: 800px;
    height: 20px;

    background-color: rgba(50,50,50,0.6);

    padding-top: 5px;
}

div#pfs-small{
    position: absolute;
    float: right;
    top: 0px;
    left: 800px;
    width: 100px;
    height: 20px;

    padding-top: 5px;
    background-color: rgba(150,200,50,0.9);

    cursor: pointer;
}
div#pfs-small p{
    text-align: center;
}


div.pfs-partie > div{
    position: relative;
    float: left;
    width: 140px;

    border: solid 3px rgba(250,180,150,0.2);
}
div.pfs-partie > div > div{

    box-shadow: 1px 2px 0px rgba(150,150,150,0.6);
}



div.pfs-status{
    width: 400px;
    margin-top: 10px;
}

div.pfs-status > div{
    position: relative;
    float: left;
    width: 190px;
    height: 25px;
    margin: 2px;
    box-shadow: 0px 0px 3px rgba(50,50,50,0.5);
}

div.pfs-tab1{
}

div.pfs-tab1 p{
    text-align: center;
    position: relative;
    float: left;
    width: 45%;
    height: 20px;

    padding-top: 5px;
    box-shadow: 3px 0px 0px rgba(250,250,250,0.5);
}
div.pfs-tab1 p:FIRST-CHILD{
    width: 18px;
    height: 12px;
    padding-top: 8px;
}
div.pfs-tab1 p:nth-child(even){
    color: rgba(80,80,80,1);
}


div.pfs-arousal{
    position: relative;
    float: left;
    width: 100%;
}

ul.pfs-arousal-list{
    list-style: none;
}
ul.pfs-arousal-list > li{
    position: relative;
    float: left;
    width: 50px;
    height: 25px;
}
ul.pfs-arousal-list > li > p:FIRST-CHILD{
    transform: scale(0.6,0.6);
       top: -5px;
    left: -5px;
    width: 31px;
    height: 32px;
}
ul.pfs-arousal-list > li > p:LAST-CHILD{
    font-size: 0.9em;
    padding-top: 6px;
}

div.pfs-combo{
    width: 490px;

    margin-top: 10px;

}







/*----------------------------------

    保存パーティーリスト

----------------------------------*/

div.save-partie{
    display: none;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 900px;
    height: 500px;

    background-color: rgba(200,200,200,0.9);
}
div#ps-drag{
    width: 100%;
    height: 25px;
    background-color: rgba(150,150,150,1);

    cursor: move;
}
div#pfs-drag p{
    text-align: center;
    color:rgba(250,180,100,1);

    width: 200px;
    height: 20px;

    background-color: rgba(50,50,50,0.6);

    padding-top: 5px;
}
div.ps-partie > div{
    position: relative;
    float: left;
    width: 150px;
}

div.ps-partie > div:LAST-CHILD{
    width: 250px;
}

div.ps-tab1{
    position: relative;
    float: left;
    width: 100px;
    height: 20px;
}
div.ps-tab2{
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
}
div.ps-tab1 p,
div.ps-tab2 p{
    text-align: center;
    position: relative;
    float: left;
    width: 50%;
}

div.ps-arousal{
    position: relative;
    float: left;
    width: 100%;
}

ul.ps-arousal-list{
    list-style: none;
}
ul.ps-arousal-list > li{
    position: relative;
    float: left;
    width: 50px;
    height: 25px;
}
ul.ps-arousal-list > li > p:FIRST-CHILD{
    transform: scale(0.6,0.6);
       top: -5px;
    left: -5px;
    width: 31px;
    height: 32px;
}
ul.ps-arousal-list > li > p:LAST-CHILD{
    font-size: 0.9em;
    padding-top: 6px;
}



/*----------------------------------

    最終計算ボタン

----------------------------------*/


div#master-calc{
    position:absolute;
    top: 450px;
    left: 100px;

    width: 120px;
    height: 120px;

    border-radius: 50px;
    border: solid 4px rgba(150,150,150,0.2);

    cursor: pointer;
}
div#master-calc p{
    color: rgba(70,70,70,1);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-top: 40px;
}
div#master-calc:HOVER {
    background-color: rgba(80,80,80,0.8);
}