div#listtab{
    position: absolute;

    top: 10%;
    left: 25%;
    width: 500px;
    height: 700px;
}

div#listview{
    display: none;
    position: absolute;


    left: 35%;
    width: 500px;
    height: 400px;

    border: solid 5px rgba(100,100,100,0.4);
    box-shadow: 10px 10px 10px rgba(50,50,50,0.6);
    background-color: rgba(250,250,250,0.8);
}


ul#listbox{
    list-style: none;
    width: 90%;
    height: 80%;

    overflow: scroll;
}

ul#listbox > li{
    position: relative;
    float: left;

    width: 100%;
    height: 40px;

    border:solid 1px rgba(50,50,50,0.2);
}

ul#listbox  > li:HOVER {
    background: rgba(50,50,50,0.4);
}

ul#listbox > li > p{
    line-height: 2em;
    text-align: center;
    position: relative;
    float: left;
}
ul#listbox > li > p:FIRST-CHILD {
    width: 100px;
}
ul#listbox > li > p:LAST-CHILD {
    width: 300px;
}

#ch-skill,
#ch-leader{
    text-align: center;
    line-height: 1.8em;
    width: 60px;
    height: 30px;

    box-shadow: 1px 1px 2px rgba(50,50,50,0.4);
    border-radius: 10px;
    cursor: pointer;
}

#ch-skill:HOVER,
#ch-leader:HOVER{
    background-color: rgba(50,50,50,0.4);
}
div#access{
    display: none;
}



div#word-box{
    position: absolute;
    top:5px;
    left: 400px;
    width: 500px;
    height: 600px;
}
div#evol-list{
    display: none;
    position: fixed;

    top: 10%;
    left: 15%;
    width: 900px;
    height: 600px;

    border: solid 5px rgba(100,100,100,0.2);
    background-color: rgba(250,250,250,0.9);
}

div#evol-list > ul{
    list-style: none;
    width: 380px;
    height: 80px;

    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);
    border:solid 2px rgba(50,50,50,0.2);
}
div#evol-list > ul > li{
    text-align: center;
    position: relative;
    float: left;

    width: 120px;
    height: 20px;

    margin: 2px;
    border-radius: 5px;
    border: solid 1px rgba(50,50,50,0.2);

    cursor: pointer;

}
div#evol-list > ul > li:HOVER {
    background-color: rgba(50,50,50,0.6);
}


.ev-mons{
    cursor: pointer;
    box-shadow: 1px 1px 0px rgba(100,100,100,0.6);
    margin: 2px;
}
.ev-mons:HOVER {
    background-color: rgba(50,50,50,0.1);
}
.ev-mons p:nth-child(2){
    background: rgba(100,100,100,0.1);
}


.close-bottom{
    text-align: center;
    line-height: 1.8em;
    position: absolute;
    bottom: 20px;
    right: 120px;

    width: 80px;
    height: 25px;

    border: solid 2px rgba(100,100,100,0.2);
    cursor: pointer;
}




/*-------------------
    進化テンプレート
--------------------*/

#evol-temp{
    display:none;
    position: absolute;

    top: 100px;
    left: 40%;

    width:600px;
    height: 500px;

    background-color: rgba(250,250,250,0.9);
}

#evol-temp ul{
    list-style: none;
    width: 580px;
    height: 400px;
    overflow: scroll;
}

#evol-temp ul > li{
    line-height: 1.8em;
    position: relative;
    float: left;
    width: 95%;
    height: 25px;
    cursor: pointer;
}

#evol-temp ul > li:HOVER {
    background-color: rgba(50,50,50,0.4);
}
