.drag-drop-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 450px;
    height: 300px;
    border: dashed 2px #BFEBFF;
    border-radius: 10px;
    margin: auto;
}

.drag-drop-inside {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    margin: auto;
}


.drag-over {
    background-color: rgba(100,100,100,0.5);
}

.view-area {
    width: 400px;
    height: 500px;
    border: dashed 2px #000000;
}

.image-base {
    position: relative;
    border: dashed 1px #AAAAAA;
    margin: 10px 0 0 0;
}
.image-box {
    position: relative;
    top: 0px;
    width: 220px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box-content {
    position: relative;
    float: left;
    width: 100%;
    margin: 5px 0 5px 0;
    cursor: pointer;
}
.box-content:hover {
    opacity: 0.8;
}
.content-title{
    text-align: center;
    width: 100%;
    height: 2em;
}
.content-type{
    text-align: center;
    width: 100%;
    height: 2em;
}
.box-content > img {
    width: 200px;
}

/**
ツールボックス
**/
.edit-box{
    position: relative;
    width: 350px;
}

/**
ツールボックス
**/
.tool-box{
    position: relative;
    top: 50px;
    width: 200px;
    height: 400px;
    margin: 0 5px;
}


/**
履歴
**/
.history-box{
    position: relative;
    width: 200px;
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.history-box > img {
    width: 50px;
}


.catBase {
    cursor: move;
    border: dashed 2px #6BFA9A;
}
.catSub {
    cursor: move;
    border: solid 1px #6BFA9A;
    width: 10px;
    height: 10px;
}





.load-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(150,150,150,0.4);
    z-index: 300;
}
.load-screen > div {
    font-size: 2em;
    color: #819CF7;
    text-align: center;
    width: 100%;
}

.close-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.reload-button {
    position: absolute;
    bottom: 5px;
    left: 100px;
}