<navigate></navigate>

<div class="button-m click float-l" routerLink="add" routerLinkActive="active">
    新規登録
</div>

<div class="float-l title-m">
    覚醒スキル管理
</div>
<div (click)="getcsvFile()" class="float-l button-m click">
    CSVﾀﾞｳﾝﾛｰﾄﾞ
</div>

<div class="grid float-l">
    <ul class="listbox">
        <li *ngFor="let arousal of arousals | slice: start: start+len" class="list">
            <div class="cell-s sort-left">
                {{arousal.id}}
            </div>
            <div class="cell-name sort-left">
                <a  [routerLink]="['detail', arousal.id]">
                    {{arousal.Name}}
                </a>
            </div>
            <div class="cell-s sort-left">
                {{arousal.icon}}
            </div>
            <div class="cell-l sort-left">
                {{arousal.Name}}
            </div>
            <div class="cell-s sort-left">
                {{arousal.Type}}
            </div>
            <div class="cell-s sort-left">
                {{arousal.Program}}
            </div>
            <div class="cell-xl sort-left">
                {{arousal.Propatie}}
            </div>
            <div class="cell-xl sort-left">
                {{arousal.Description}}
            </div>
        </li>
    </ul>
    <ul class="pageing">
        <ng-container *ngFor="let a of counts; index as i">
        <li (click)="pager(i)">{{i + 1}}</li>
        </ng-container>
    </ul>

</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>

