<div *ngIf="arousal" class="side-form">
    <h2>{{ arousal.Name }}</h2>
    <div class="block-s">
        <div class="label-m float-l">番号：</div>
        <div class="float-l">{{ arousal.id }}</div>
    </div>
    <div class="block-s">
        <div class="label-m float-l">名前：</div>
        <input class="float-l" [(ngModel)]="arousal.Name" placeholder="名前">
    </div>
    <div class="block-s">
        <div class="label-m float-l">アイコン：</div>
        <input class="float-l" [(ngModel)]="arousal.icon" placeholder="アイコン">
    </div>
    <div class="block-s">
        <div class="label-m float-l">タイプ：</div>
        <input class="float-l" [(ngModel)]="arousal.Type" placeholder="タイプ">
    </div>
    <div class="block-s">
        <div class="label-m float-l">プログラム：</div>
        <input class="float-l" [(ngModel)]="arousal.Program" placeholder="プログラム">
    </div>
    <div class="block-s">
        <div class="label-m float-l">プロパティ：</div>
        <input class="float-l" [(ngModel)]="arousal.Propatie" placeholder="プロパティ">
    </div>
    <div class="block-s">
        <div class="label-m float-l">内容：</div>
        <input class="float-l" [(ngModel)]="arousal.Description" placeholder="内容">
    </div>
    <button (click)="save()">保存</button>
    <button (click)="goBack()">戻る</button>
</div>
