<div class="side-form">
    <div>
        <h2>新規リーダースキル登録</h2>
    </div>
    <div class="block-s">
        <div class="label-m float-l">ID：</div>
        <input class="float-l" [(ngModel)]="leader.id" placeholder="ID">
    </div>
    <div class="block-s">
        <div class="label-m float-l">名前：</div>
        <input class="float-l" [(ngModel)]="leader.Name" placeholder="名前" size="40">
    </div>
    <div class="block-s">
        <div class="label-m float-l">タイプ：</div>
        <input class="float-l" [(ngModel)]="leader.Type" placeholder="属性">
    </div>
    <div class="block-s">
        <div class="label-m float-l">ターゲット属性：</div>
        <input class="float-l" [(ngModel)]="leader.Attribute" placeholder="ターゲット属性">
    </div>
    <div class="block-s">
        <div class="label-m float-l">ターゲットモンスタ：</div>
        <input class="float-l" [(ngModel)]="leader.MType" placeholder="ターゲットモンスター">
    </div>
    <div class="block-s">
        <div class="label-m float-l">倍率レート：</div>
        <input class="float-l" [(ngModel)]="leader.Rate" placeholder="倍率レート">
    </div>
    <div class="block-s">
        <div class="label-m float-l">プログラム：</div>
        <input class="float-l" [(ngModel)]="leader.Program" placeholder="プログラム">
    </div>
    <div class="block-s">
        <div class="label-m float-l">プロパティ：</div>
        <input class="float-l" [(ngModel)]="leader.Propatie" placeholder="プロパティ">
    </div>
    <div class="block-s">
        <div class="label-m float-l">プログラムタイプ：</div>
        <input class="float-l" [(ngModel)]="leader.PType" placeholder="プログラムタイプ">
    </div>
    <div class="block-s">
        <div class="label-m float-l">内容：</div>
        <input class="float-l" [(ngModel)]="leader.Description" placeholder="内容" size="50">
    </div>
    <button (click)="add()">追加</button>
    <button (click)="goBack()">戻る</button>
</div>
