<div class="side-form-ch">
    <div class="load-screen" *ngIf="onLoad">
        <div>読み込み中</div>
        <div>{{fileCount}}枚中{{loadedCount}}枚読み込み</div>        </div>
    <ng-container *ngIf="showUpBase">
    <form action=""
        method="post"
        enctype="multipart/form-data">
        <div 
            [class.drag-over]="onDrag"
            class="drag-drop-area"
            (dragover)="onDragOverHandler($event)" 
            (dragleave)="onDragLeaveHandler($event)"
            (drop)="onDropHandler($event)" >
            <div class="drag-drop-inside">
                <p>モンスター画像をドロップ</p>
            </div>
        </div>
    </form>
    </ng-container>
    
    <ng-container *ngIf="showBox">
    <ng-container *ngIf="showBaseImage">
    <form action=""
        method="post"
        enctype="form-data">
        <div 
            [class.drag-over]="onDrag"
            class="drag-drop-area"
            (dragover)="onDragOverHandler($event)" 
            (dragleave)="onDragLeaveHandler($event)"
            (drop)="onDropBaseHandler($event)" >
            <div class="drag-drop-inside">
                <p>合成画像をドロップ</p>
            </div>
        </div>
    </form>
    </ng-container>
    <ng-container *ngIf="showResultImage">
        <div>
            <img [attr.src]="resultImage">
        </div>
    </ng-container>
    <div class="image-list float-l">
        <ng-container *ngFor="let image of imageFiles; index as i">
        <div class="list-content">
            <div class="content-title">
                {{imageFiles[i].name}}
            </div>
            <div class="content-type">
                {{image.type}}
            </div>
            <img width="100%" [attr.src]="image.data">
            <div class="button-m" (click)="saveImage()">ダウンロード</div>
        </div>
        </ng-container>
    </div>
    </ng-container>

    <!--<div *ngIf="onUp" (click)="imageUpLoad()" class="click">upload</div>-->
    <div *ngIf="showReload" (click)="switchWindow()" class="reload-button button-s click">再読込</div>
    <div (click)="close()" class="close-button button-s click">Close</div>
</div>
    