<div class="grid">

    <div class="container">
        <div class="cargo click" routerLink="/monster" routerLinkActive="active">
            <div class="label-s"><h3>モンスター</h3></div>
            <ul>
                <li>
                    <div class="label-s float-l">登録数:</div>
                    <div class="float-l">{{ monsters.length }}件</div>
                </li>
            </ul>
        </div>
        <div class="cargo click" routerLink="/skill" routerLinkActive="active">
            <div class="label-s"><h3>スキル</h3></div>
            <ul>
                <li>
                    <div class="label-s float-l">登録数:</div>
                    <div class="float-l">{{ skills.length }}件</div>
                </li>
            </ul>
        </div>
        <div class="cargo click" routerLink="/leader" routerLinkActive="active">
            <div class="label-s"><h3>リーダースキル</h3></div>
            <ul>
                <li>
                    <div class="label-s float-l">登録数:</div>
                    <div class="float-l">{{ leaders.length }}件</div>
                </li>
            </ul>
        </div>
        <div class="cargo click" routerLink="/arousal" routerLinkActive="active">
            <div class="label-s"><h3>覚醒スキル</h3></div>
            <ul>
                <li>
                    <div class="label-s float-l">登録数:</div>
                    <div class="float-l">{{ arousals.length }}件</div>
                </li>
            </ul>
        </div>
        <div class="cargo click" routerLink="/admin" routerLinkActive="active">
            <div class="label-s"><h3>ユーザーとか管理</h3></div>
        </div>
    </div>
</div>
