input, button, textarea, select {
    margin: 0;
    padding: 0.5em;
    background: none;
    border: solid 1px #A8DDFF;
    border-radius: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    float: left;
    width: 80%;
    border-bottom: solid 1px #8BD2FE;
    margin: 5px 1em;
}
li:hover {
    background-color: #CDF2F6;
}

li > div {
    cursor: pointer;
}

.center {
    width: 200px;
    height: 40px;
    margin: 10px auto;
}

