<navigate></navigate>

<div class="button-m click float-l" routerLink="add" routerLinkActive="active">
    新規登録
</div>
<div class="button-m click float-l" (click)="showSearch()">
    検索
</div>
<div class="float-l title-m">
    モンスター管理
</div>
<div (click)="getcsvFile()" class="float-l button-m click">
CSVﾀﾞｳﾝﾛｰﾄﾞ
</div>
<div (click)="getPdfFile()" class="float-l button-m click">
    履歴書出力
</div>
<div (click)="showPdfPrint()" class="float-l button-m click">
    変態エクトプラズムバースト
</div>
<div (click)="showMonsterMaker()" class="float-l button-m click">
    ﾓﾝｽﾀｰ画像作成
</div>
<div class="grid float-l">
    <ul class="listbox">
        <li class="list">
            <div class="cell-m sort-left">番号</div>            
            <div class="cell-name sort-left">名前</div>
            <div class="cell-s sort-left">主</div>
            <div class="cell-s sort-left">副</div>
            <div class="cell-s sort-left">ﾚｱ</div>
            <div class="cell-s sort-left">ｺｽﾄ</div>
            <div class="cell-m sort-left">ﾀｲﾌﾟ１</div>
            <div class="cell-m sort-left">ﾀｲﾌﾟ２</div>
            <div class="cell-m sort-left">ﾀｲﾌﾟ３</div>
            <div class="cell-m sort-left">HP</div>
            <div class="cell-m sort-left">攻撃</div>
            <div class="cell-m sort-left">回復</div>
            <div class="cell-l sort-left">スキル</div>
            <div class="cell-l sort-left">リーダースキル</div>
            <div class="cell-l sort-left">覚醒</div>
            <div class="cell-l sort-left">進化</div>
        </li>
        <li *ngFor="let monster of showMonsters" class="list">
            <div class="cell-m sort-left">
                {{monster.id}}
            </div>            
            <div class="cell-name sort-left">
                <a  [routerLink]="['detail', monster.id]">
                    {{monster.Name}}
                </a>
            </div>
            <div class="cell-s sort-left">
                {{ attributes[monster.Attribute].Name }}
            </div>
            <div class="cell-s sort-left">
                {{ attributes[monster.SubAttribute].Name }}
            </div>
            <div class="cell-s sort-left">
                {{monster.Rarity}}
            </div>
            <div class="cell-s sort-left">
                {{monster.Cost}}
            </div>
            <div class="cell-m sort-left">
                {{ mtypes[monster.Type].Name}}
            </div>
            <div class="cell-m sort-left">
                {{mtypes[monster.SubType].Name}}
            </div>
            <div class="cell-m sort-left">
                <ng-template *ngIf="monster.ThirdType">
                {{mtypes[monster.ThirdType].Name}}
                </ng-template>
            </div>
            <div class="cell-m sort-left">
                {{monster.HP}}
            </div>
            <div class="cell-m sort-left">
                {{monster.Attack}}
            </div>
            <div class="cell-m sort-left">
                {{monster.Cure}}
            </div>
            <div class="cell-l sort-left">
                {{ skills[monster.Skill].Name }}
            </div>
            <div class="cell-l sort-left">
                {{ leaders[monster.Reader].Name}}
            </div>
            <div class="cell-l sort-left">
                {{monster.Arousal}}
            </div>
            <div class="cell-l sort-left">
                {{monster.Evolution}}
            </div>
        </li>
    </ul>
    <ul class="pageing">
        <ng-container *ngFor="let m of counts; index as i">
        <li class="click" (click)="pager(i)">{{i + 1}}</li>
        </ng-container>
    </ul>

</div>

<div class="sub-window-m"
    [@slideStatus]="subWindow"
    [class.subShow]="subFlag">
    <ng-container *ngComponentOutlet="searchContent"></ng-container>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>
